# Ignore folders containing 'env' in their names (case-insensitive match to be safe)
**/*env*/         # matches folders like env_project, myenv_dataapp, ml_env_xyz
**/*env*/**       # ensures nested contents are ignored too

# Alternatively, if your envs all start or end with a pattern
**/env_*/
**/*_env/
**/*_venv/

# Common Conda environment files
*.conda
*.yml

# Optional: Ignore all hidden folders that might be Conda or Python related
.conda/
.venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

__pycache__/
*.py[cod]

log/
*.tfevents.*

genai_projects/

Sentiment_Classification_IMDb_Review/model/


Text_Generation_GPT-2/gpt2-finetuned
Text_Generation_GPT-2/gpt2-finetuned_model

QA_System_RAG/llm_env
*.env
*.pdf

QA_System_RAG/Q&A_all_in_one.txt
QA_System_RAG/interview_question_answer.md
QA_System_RAG/interview_question_answer.txt

Resume-Coverletter-GenAI/Resume-Coverletter-Interview Q&A.txt